[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "firmware/2350/lib/FreeRTOS-Kernel"]
	path = firmware/2350/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
